$red:#E74C3C;
$dark-red:#D24637;
$light-red: #E95C4D;

@mixin pc {
  @media screen and (min-width:750px) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: 749px) {
    @content;
  }
}
